In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rcParams
rcParams['figure.figsize'] = 11.7,8.27 # figure size in inches

pd.options.mode.chained_assignment = None  # default='warn'
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 500) 
pd.set_option('display.max_columns', 30) 

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

%config Completer.use_jedi = False

import pingouin as pg

In [2]:
df_agg = pd.read_csv('CSV/df_daybin.csv')
df_agg.head()

,id,days_bin,sbp,dbp,creatinine,glucose,ldl,hgb,atenolol,atorvastatin,bisoprolol,canagliflozin,carvedilol,dapagliflozin,irbesartan,labetalol,losartan,lovastatin,metformin,metoprolol,nebivolol,olmesartan,pitavastatin,pravastatin,propranolol,rosuvastatin,simvastatin,telmisartan,valsartan
0,0,1,133.930,89.65,1.220,6.72,136.44,13.450,0.0,910.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,91000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,2,125.080,65.97,1.440,7.01,NaN,12.840,0.0,910.0,0.0,0.0,0.0,0.0,0.0,0.0,27100.0,0.0,151000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,3,133.625,84.90,1.230,6.89,157.90,13.320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9100.0,0.0,242000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,4,154.280,84.29,1.155,5.70,NaN,13.530,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9100.0,0.0,182000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,5,NaN,NaN,NaN,NaN,NaN,12.995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Based on value at days_bin = 4
df_agg_4 = df_agg[df_agg['days_bin'] == 4]
df_agg_4.shape

(292, 29)

In [4]:
# Merge demographic and outcome
df_demo = pd.read_csv('CSV/T_demo.csv')
df_stage = pd.read_csv('CSV/T_stage.csv')

In [5]:
df_agg_4 = df_agg_4.merge(df_demo, on='id')
df_agg_4 = df_agg_4.merge(df_stage, on='id')
df_agg_4.drop(['id','days_bin'], axis = 1, inplace=True)
df_agg_4.head()
df_agg_4.shape

,sbp,dbp,creatinine,glucose,ldl,hgb,atenolol,atorvastatin,bisoprolol,canagliflozin,carvedilol,dapagliflozin,irbesartan,labetalol,losartan,...,metformin,metoprolol,nebivolol,olmesartan,pitavastatin,pravastatin,propranolol,rosuvastatin,simvastatin,telmisartan,valsartan,race,gender,age,Stage_Progress
0,154.28,84.29,1.155,5.70,NaN,13.53,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9100.0,...,182000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Unknown,Male,70,True
1,152.71,88.07,NaN,9.78,73.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,White,Female,71,False
2,136.46,91.52,2.200,7.04,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,910.0,0.0,0.0,0.0,White,Female,57,True
3,142.88,73.70,0.895,5.77,101.42,12.36,0.0,1820.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,White,Male,74,False
4,170.10,106.07,0.990,11.00,72.03,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,154700.0,0.0,0.0,0.0,0.0,7280.0,0.0,0.0,0.0,0.0,0.0,White,Female,50,True

(292, 31)

# Compare between Stage_Progress = True / False

In [6]:
df_agg_4.groupby(['Stage_Progress']).mean()

,sbp,dbp,creatinine,glucose,ldl,hgb,atenolol,atorvastatin,bisoprolol,canagliflozin,carvedilol,dapagliflozin,irbesartan,labetalol,losartan,lovastatin,metformin,metoprolol,nebivolol,olmesartan,pitavastatin,pravastatin,propranolol,rosuvastatin,simvastatin,telmisartan,valsartan,age
Stage_Progress,,,,,,,,,,,,,,,,,,,,,,,,,,,,
False,130.735152,78.573152,1.344122,6.409621,80.185451,13.997520,350.177305,1062.482270,9.680851,604.255319,178.235816,15.106383,129.787234,387.234043,2336.170213,113.971631,45704.964539,1426.950355,0.0,43.404255,0.822695,215.319149,17.588652,224.432624,878.546099,51.631206,1937.021277,71.040816
True,136.495988,80.951534,1.313861,7.210705,94.897500,13.367121,1466.544118,1133.529412,6.691176,136.764706,87.591912,0.000000,273.529412,0.000000,1661.397059,186.764706,60353.676471,2172.794118,0.0,63.823529,0.117647,926.470588,0.000000,106.764706,772.500000,0.000000,2336.470588,69.229167

In [7]:
 df_demo['race'].value_counts()

White       226
Unknown      26
Black        24
Asian        17
Hispanic      7
Name: race, dtype: int64

In [8]:
df_pivot =  df_agg_4.pivot_table(index=['race'], columns = 'Stage_Progress', aggfunc='size')
df_pivot
# df_pivot['% of Total'] = 
(df_pivot / df_pivot.sum() * 100)

Stage_Progress  False  True
race
Asian              12      5
Black              17      6
Hispanic            4      3
Unknown            16     10
White             147     72

Stage_Progress      False      True
race
Asian            6.122449   5.208333
Black            8.673469   6.250000
Hispanic         2.040816   3.125000
Unknown          8.163265  10.416667
White           75.000000  75.000000

In [10]:
df_pivot = df_agg_4.pivot_table(index=['gender'], columns = 'Stage_Progress', aggfunc='size')
df_pivot
(df_pivot / df_pivot.sum() * 100)

Stage_Progress  False  True
gender
Female            129     42
Male               67     54

Stage_Progress      False  True
gender
Female          65.816327  43.75
Male            34.183673  56.25